form {
    display: flex;
    align-items: center;
    padding: 8px 12px;
    margin: 20px 0;
    
    min-width: 800px;

    background: rgba(75,75,75, .2);
    border-radius: 16px;
    box-shadow: 0 5px 16px rgba(0, 0, 0, 0.2);
    border: 1.5px solid rgba(255, 255, 255, 0.402);
    backdrop-filter: blur(20px);

    transition: all 0.5s;
}

form:hover {
    border: 1.5px solid rgba(255, 255, 255, 0.877);
}

.search-input {
    flex: 1;
    outline: none;
    padding: 8px 12px;
    font-size: 1rem;
    border: none;
    width: 100%;
    background: transparent;
    color: white;
    font-weight: bold;
}
input::placeholder{
        color: rgba(255, 255, 255, .7);
        font-weight: normal;
        font-style: italic;
    }

.search-icon{
    cursor: default;
}