.app{
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.card{
    background: rgba(70,70,70,.1);
    border-radius: 16px;
    box-shadow: 0 4px 32px rgba(0,0,0, .1);
    backdrop-filter: blur(20px);
    border: 1px solid rgba(70,70,70, .2);
    padding: 2.5rem;
}

.bg-morning{
    background:
        radial-gradient(ellipse at top, rgba(211,158,72,0.6), transparent),
        radial-gradient(ellipse at bottom, rgba(50,27,113,0.6), transparent),
        url('./assets/background.jpg');

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.bg-day{
    background:
        radial-gradient(ellipse at top, rgba(203, 229, 150, 0.702), transparent),
        radial-gradient(ellipse at bottom, rgb(62, 165, 255), transparent),
        url('./assets/background.jpg');

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.bg-evening{
    background:
        radial-gradient(ellipse at top, rgba(255, 189, 7, 0.461), transparent),
        radial-gradient(ellipse at bottom, rgba(236, 225, 132, 0.917), transparent),
        url('./assets/background.jpg');

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.bg-night{
     background:
        radial-gradient(ellipse at top, rgba(10, 4, 91, 0.761), transparent),
        radial-gradient(ellipse at bottom, rgba(0, 0, 0, 0.917), transparent),
        url('./assets/background.jpg');

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}